"""Domain services for {{ project_name }}."""

from {{ project_package }}.services.app_service import AppService
from {{ project_package }}.services.greeting_service import GreetingService

__all__ = ['AppService', 'GreetingService']
